<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="add-log" class="reading-data-form">
    <h1>Add Log</h1>

    <form th:action="@{/admin/log/add}" method="post" th:object="${readingLog}">

        <div>
            <input type="hidden" id="isbn"  th:value="${book.isbn}" th:field="${book.isbn}" />
        </div>

        <p th:text="${book.title}"></p>
        <p th:text="${book.isbn}"></p>

        <div>
            <label for="date">Started Date:</label>
            <input type="date" id="date" th:field="*{date}" />
        </div>
        <div>
            <label for="page">Page:</label>
            <input type="number" id="page" th:field="*{page}" />
        </div>
        <div>
            <label for="favorite">Favorite:</label>
            <input type="checkbox" id="favorite" th:field="*{favorite}" />
        </div>
        <div>
            <label for="log">Log:</label>
            <textarea id="log" th:field="*{log}"/>
        </div>
        <div>
            <button type="submit">Add Log</button>
        </div>
    </form>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {
        function updateFormAction() {
            // Retrieve ISBN directly from Thymeleaf expression
            var isbnValue = /*[[${book.isbn}]]*/ '';

            // Set the ISBN input value
            document.getElementById('isbn').value = isbnValue;

            // Log updated ISBN to the console
            console.log('ISBN:', isbnValue);
        }

        updateFormAction();
    });
    /*]]>*/
</script>
</body>
</html>
