<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page List</title>
</head>
<body>
<h1>Page List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Created Date</th>
        <th>Modified Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="link : ${linkList}">
        <td th:text="${link.id}"></td>
        <td th:text="${link.title}"></td>
        <td th:text="${#dates.format(link.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${#dates.format(link.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td>
            <form th:action="@{/admin/link/delete/{id}(id=${link.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
            <a th:href="@{/admin/link/update/{id}(id=${link.id})}">
                <button>Update</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
