<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section id="content" class="grid-item double-height">
    <h2>Currently Reading</h2>

    <div class="book-container">
        <div class="book">
            <div class="book-cover"></div>
            <p class="book-info">1. "Book 1" by <span class="book-author">Author 1</span></p>
        </div>
        <div class="book">
            <div class="book-cover"></div>
            <p class="book-info">2. "Book 2" by <span class="book-author">Author 2</span></p>
        </div>
    </div>
    <h2>Last Read</h2>
    <div class="book-container">
        <div class="book">
            <div class="book-cover"></div>
            <p class="book-info">3. "Book 3" by <span class="book-author">Author 3</span></p>
        </div>
        <div class="book">
            <div class="book-cover"></div>
            <p class="book-info">1. "Book 1" by <span class="book-author">Author 1</span></p>
        </div>
        <div class="book">
            <div class="book-cover"></div>
            <p class="book-info">2. "Book 2" by <span class="book-author">Author 2</span></p>
        </div>
        <div class="book">
            <div class="book-cover"></div>
            <p class="book-info">3. "Book 3" by <span class="book-author">Author 3</span></p>
        </div>
    </div>
</section>