<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar">
<aside class="grid-item double-height">


    <!-- <p><a href="" class="button">test</a></p>

    <p><a href="" class="button">test</a></p>

    <p><a href="" class="button">test</a></p>

    <p><a href="" class="button">test</a></p> -->

    <div class="stats">

        <h2>Books Stats</h2>
        Read since 2014: 120<br>
        Read this year: 6<br>
        Read last year: 16<br>
        Most read year: 2016 (40)

    </div>


    <p class="sub" style="margin-top: 3rem;">© Marisabel Munoz 2023</p>

</aside>

</div>