<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:insert="~{fragments/header :: head}"></div>
<script type="text/javascript" th:src="@{/js/jquery.richtext.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.richtext.js}"></script>
<link rel="stylesheet" th:href="@{/css/richtext.min.css}" href="/css/colors.css" />

<script type="text/javascript">
    // Initialize jquery.richtext on document ready
    document.addEventListener("DOMContentLoaded", function () {
        // Select the textarea and initialize the plugin
        $("#review").richText();
    });
</script>
<!--Add here always what needs to load-->
<body onload="populateDropdown(); ">

<main class="grid-container-fullwidth">
    <header class="grid-item">
       <a href="/home"> <img src="/logo.svg" class="logo"> </a>
        <nav th:replace="~{fragments/nav :: navFragment}"></nav>
    </header>
    <section id="content" class="grid-item double-height">
        <!-- START OF CONTENT-->
<div style="display: flex; flex-direction: row;   gap: 1rem; display: inline-flex;
  flex-wrap: wrap; width: 80%; align-items: center; margin-left: auto;margin-right: auto;">
    <div flex="2" class="book-cover" th:style="'background-image: url(\'' + ${thumbnail} + '\');'"></div>
    <h1 flex="3">Review For <span th:text="${title}"></span></h1><br>
    <h2 flex="1"><span th:text="${author}"></span></h2>
</div>

<form th:object="${review}" th:action="@{/admin/review/submit}" method="post" class="reviews-form ">

    <input type="hidden" id="isbn" th:field="*{bookIsbn}" th:value="${isbn}" /><br/>

    <input type="date" id="date" th:field="*{date}" th:placeholder="yyyy-MM-dd"><br/>

    <textarea id="review" th:field="*{review}"></textarea><br/>

    <button type="submit">Submit Review</button>
</form>

</section>
</main>
</body>

</html>
