<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:insert="~{fragments/header :: head}"></div>

<body onload="populateDropdown();">

<main class="grid-container-fullwidth">
    <header class="grid-item">
       <a href="/home"> <img src="/logo.svg" class="logo"> </a>
        <nav th:replace="~{fragments/nav :: navFragment}"></nav>
    </header>
    <section id="content" class="grid-item double-height">




<!-- START OF CONTENT-->
<div class="book-container" id="bookGallery" th:if="${not #lists.isEmpty(booksList)}">
    <div th:each="book : ${booksList}" class="book">
        <a th:href="@{'/public/book/' + ${book.isbn}}">
            <div class="book-cover" th:style="'background-image: url(' + ${book.thumbnailUrl} + ')'" ></div>
        </a>
    </div>
</div>
<div th:unless="${not #lists.isEmpty(booksList)}">
    <p>No books found</p>
</div>
<!-- END OF CONTENT-->




    </section></main>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>